  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="first_name">First Name</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="first_name" value="<%= model.first_name %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="last_name">Last Name</label>
    <div class="col-sm-7">
      <input class="form-control" name="last_name" value="<%= model.last_name %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="state">State</label>
    <div class="col-sm-7">
      <input class="form-control" name="state" value="<%= model.state %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="sales_ytd">Current Sales</label>
    <div class="col-sm-7">
      <input class="form-control" name="sales_ytd" value="<%= model.sales_ytd %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="sales_ly">Last Years Sales</label>
    <div class="col-sm-7">
      <input class="form-control" name="sales_ly" value="<%= model.sales_ly %>" />
    </div>
  </div>